# Enable line numbers
set linenumbers

# Enable automatic indentation
set autoindent

# Enable mouse mode
set mouse

# Enable smooth scrolling
set smooth

# Enable word wrap
set softwrap

# Set tab size
set tabsize 2

# Enable tabs to spaces conversion
set tabstospaces

# Set the colours
set titlecolor brightwhite,black
set statuscolor brightwhite,black
set errorcolor brightwhite,red
set selectedcolor brightwhite,magenta
set numbercolor brightwhite
set keycolor brightwhite
set functioncolor white
